<nav class = "navbar navbar-dark bg-black mb-4">
    <div class="container">
        <a href="/" class="navbar-brand"> My app with MongoDB</a>
        <a href="/">Inicio</a>
        <a href="/agregarAlumno">Alumnos</a>
        <a href="/agregarAsignatura">Asignaturas</a>
        <a href="/agregarProfesor">Profesores</a>
    </div>
</nav>